<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF_8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <little>THIS IS TEST</little>
</head>
<body>
    <h1>MY FORM</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="pdf_file" required>
        <input type="file" name = "excel_file" required>
        <input type="submit" value="Upload">
    </form>
    {% if files_ready %}
    <h2>Download Results</h2>
    <a href="{{ url_for('download_file',filename='final_summary.txt')}}">Download Summary</a><br>
    <a href="{{url_for('download_file', filename='matched_labor_data.xlsx') }}">Download Matched Labor Data</a>
    {% endif %}
</body>
</html>
    
